@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

textarea {
    height: 150px;
}

/* Menjadikan navbar transparan */
#navbar {
    background-color: transparent; /* Ubah nilai transparansi di sini, misalnya 0.5 */
}

#navbar.scrolled {
    background-color: #222;
}